* {
    font-family: 'Montserrat', sans-serif;
}

.portrait-title h2 {
    font-size: 1.55em;
    font-weight: 300;
    color: #000;
    margin: 20px 0 10px;
}

#publications .alert {
    display: none;
}

.section-heading h1 {
    margin: 0 0 10px;
    font-size: 40px;
    text-transform: capitalize;
}

section#featured {
    display: none;
}
